/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOs */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* apply a natural box layout model to all elements */
* { 
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 
}

//Overall styling for the body of the document
body {
  background-color: orange;
}

//Overall styling for the Navigation of the document




//Overall styling fro the Main of the document
h1 {
  color: $primaryColor;
}

//OVerall styling for the Footer of the document 
